body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
}

.lyric {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}

.lyric-1 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}

.lyric-2 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}

.lyric-3 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}

.lyric-4 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}

.lyric-5 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}

.lyric-6 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}

.lyric-7 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}

.lyric-8 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}

.lyric-9 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}

.lyric-10 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}
.lyric-11 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}
.lyric-12 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}
.lyric-13 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}
.lyric-14 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}

.lyric-15 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}
.lyric-16 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}
.lyric-17 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}
.lyric-18 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}
.lyric-19 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}
.lyric-20 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}
.lyric-21 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}
.lyric-22 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}
.lyric-23 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}
.lyric-24 {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    margin-top: 20px;
}

.player {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}

.player-1 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}

.player-2 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}

.player-3 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}

.player-4 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-5 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-6 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-7 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-8 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-9 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-10 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-11 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-12 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-13 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-14 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}

.player-15 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-16 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-17 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-18 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-19 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-20 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-21 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-22 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-23 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
.player-24 {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}

.fa-solid {
  margin: 0.5rem;
  width: 0.5rem;
}
.fa-pause {
  display : none;
}
.playrate {
  font-family: 'Merriweather', serif;
}
.btn {
  border-radius: 30%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  border: none;
  transition: 0.5s;
  margin: 0 2px 0 0;
  display: flex;
  justify-content: center;
  align-items:center;
}
.play {
  display: inline-block;
}
.pause {
  display: none;
}
.btn:hover > i{
  color: #ff6b0c;
  font-weight: 700;
}
.btn:hover > span{
  color: #ff6b0c;
  font-weight: bold;
}
span {
  transition: 0.3s;
}
i {
  transition: 0.3s;
}
.mybtn {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
}
.mydiv {
  width: 5rem;
  height: 5rem;
  border-radius: 20%;
  background-color: red;
  color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}
